<header class="py-3 px-4 md:px-12 bg-white flex items-center justify-between">
  <div>
    <ul class="font-bold text-xl text-blueColor hover:text-orange-500">
      <li><a routerLink="">LOGO</a></li>
    </ul>
  </div>

  <div class="hidden md:flex md:items-center gap-10 md:justify-between">
    <nav class="md:flex md:space-x-4">
      <button (click)="routeToReail()" class="bg-blueBg p-2 text-white rounded-full md:w-24 hover:bg-orange-500 duration-150">Retail</button>
    </nav>

    <div class="md:w-96 px-2 py-1 rounded-md border border-solid border-blueBorder focus-within:border-orange-200">
      <form action="" class="md:flex md:justify-between">
        <input type="text" placeholder="Search" class="w-full border-none outline-none text-gray-500">
        <button class="border-l border-gray-300 pl-2 hover:text-orange-500 duration-200">
          <i class="fa fa-search text-blueColor hover:text-orange-500 duration-200" aria-hidden="true"></i>
        </button>
      </form>
    </div>

    <div class="relative flex items-center">
      <span class="absolute left-4 bottom-5 inline-block w-4 h-4 bg-red-500 rounded-full text-white text-center">1</span>
      <i class="fa fa-shopping-cart text-blueColor text-2xl hover:text-orange-500 duration-200 cursor-pointer" id="cartIcon"></i>
    </div>

    <ul class="flex items-center space-x-4">
      <li>
        <a class="text-gray-500 hover:text-orange-500 duration-200" routerLink="/app-login" routerLinkActive="active">Login</a>
      </li>

      <div *ngIf="userFirstName">
        <span class="text-gray-500 hover:text-orange-500 duration-200">{{ userFirstName }}</span>
      </div>

      <li>
        <button (click)="routeToSignUp()" class="bg-blueBg p-2 text-white rounded-full md:w-24 hover:bg-orange-500 duration-150">Sign Up</button>
      </li>
    </ul>
  </div>

  <div class="md:hidden">
    <button (click)="toggleMobileMenu()">
      <i class="fa fa-bars text-2xl text-blueColor hover:text-orange-500"></i>
    </button>
  </div>

  <div *ngIf="isMobileMenuOpen" class="fixed top-0 left-0 w-full h-full bg-white">
    <div class="flex justify-end p-4">
      <button (click)="closeMobileMenu()">
        <i class="fa fa-times text-2xl text-blueColor hover:text-orange-500"></i>
      </button>
    </div>

    <div class="flex flex-col items-center space-y-4">
      <a routerLink="/app-retail" class="text-blueColor hover:text-orange-500 duration-200">Retail</a>
      <a routerLink="" class="text-gray-500 hover:text-orange-500 duration-200">Login</a>
      <button (click)="routeToSignUp()" class="bg-blueBg p-2 text-white rounded-full md:w-24 hover:bg-orange-500 duration-150">Sign Up</button>
    </div>
  </div>
</header>
<app-navbar></app-navbar>
