<nav class="flex justify-center shadow py-3">

  <ul class="flex flex-wrap md:flex-nowrap md:items-center md:justify-between px-5 gap-4 md:gap-8 text-2xl text-blueColor">

    <li class="mb-2 md:mb-0">
      <a href="" class="hover:text-orange-500 duration-200">Women</a>
    </li>
    <li class="mb-2 md:mb-0">
      <a href="" class="hover:text-orange-500 duration-200">Men</a>
    </li>
    <li class="mb-2 md:mb-0">
      <a href="" class="hover:text-orange-500 duration-200">Kids</a>
    </li>
    <li class="mb-2 md:mb-0">
      <a href="" class="hover:text-orange-500 duration-200">Accessories</a>
    </li>

  </ul>

</nav>
