<nav class="flex justify-center shadow py-3">

  <ul class=" flex md:items-center md:justify-between px-5 gap-[5vw] text-2xl text-blueColor">

    <li class="hover:text-orange-500 duration-200">
      <a href="">Women</a>
    </li>
    <li class="hover:text-orange-500 duration-200">
      <a href="">Men</a>
    </li>
    <li class="hover:text-orange-500 duration-200">
      <a href="">Kids</a>
    </li>
    <li class="hover:text-orange-500 duration-200">
      <a href="">Accessories</a>
    </li>

  </ul>
  
</nav>
