
<app-navbar></app-navbar>
<section class="bg-[#F6F6F6] relative">
  <main class="flex flex-col items-center px-5 py-5">

    <div class="grid grid-cols-1 md:grid-cols-4 gap-5 justify-center items-center">
      @for (product of productData; track product) {
        <div class="relative gap-4 py-4 px-4 w-full flex flex-col items-center bg-white rounded-md shadow-sm">
          <img src="{{ product.imageUrl }}" alt="{{ product.name }}">
          <div class="flex flex-col gap-2">
            <h2 class="text-blueColor">{{ product.name | uppercase }}</h2>
            <p>{{ product.description }}</p>
            <h1 class="font-bold">GH₵ {{ product.price }}</h1>
            <div>
              <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
              <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
              <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
              <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
              <i class="fa-solid fa-star text-gray-300"></i>
            </div>
            @if (product.quantity !== product.cartCount! || cartCountProductId !== product.id) {
              <p>{{ product.quantity }} Available</p>
            }@else {
              <p class="text-red-400">Out of Stock</p>
            }
          </div>
          <!-- @if (totalCount < 0  || cartCountProductId !== product.id) { -->
            <button (click)="addToCart(product)" class="bg-blueBg text-white py-1 w-4/5 hover:bg-orange-500 duration-150">Add to Cart</button>
          <!-- }@else { -->
            <!-- <div class="flex flex-row items-center justify-center gap-5">
              <button (click)="removeFromCart(product)"  class="bg-blueBg text-white py-1 px-3 hover:bg-orange-500 duration-150">-</button>
              <p>In Cart: {{ product.cartCount}}</p>
              <button (click)="addToCart(product)" [disabled]="product.quantity === product.cartCount! || cartCountProductId !== product.id"  [class.active]="signal && cartCountProductId === product.id" class="bg-blueBg text-white py-1 px-3 hover:bg-orange-500 duration-150">+</button>
            </div>
          } -->
        </div>
      }
    </div>

  </main>
</section>
<app-footer></app-footer>
