<section class="bg-[#F6F6F6]">
  <main class="flex flex-col gap-5 justify-center items-center px-5 py-5">
    <div class="flex md:flex-row flex-col gap-5 justify-center items-center">
      <div
        class="relative gap-4 py-4 px-4 w-full flex flex-col items-center bg-white rounded-md shadow-sm"
      >
        <img
          class="w-96 relative"
          src="../../assets/retail1.png"
          alt="photo-2"
        />

        <div class="flex flex-col gap-2">
          <div class="text-black">Gray leather Jacket with polished cotton</div>
          <h1 class="font-bold">GH₵ 2,093.00</h1>
          <div>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-gray-300"></i>
          </div>
          <p>2 Available</p>
        </div>
        <button class="bg-blueBg text-white py-1 px-3 hover:bg-orange-500 duration-150">Add to Cart</button>
      </div>

      <div
        class="relative gap-4 py-4 px-4 w-full flex flex-col items-center bg-white rounded-md shadow-sm"
      >
        <img
          class="w-96 relative"
          src="../../assets/retail2.png"
          alt="photo-2"
        />
        <div class="flex flex-col gap-2">
          <div class="text-black">Gray leather Jacket with polished cotton</div>
          <h1 class="font-bold">GH₵ 2,093.00</h1>
          <div>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-gray-300"></i>
          </div>
          <p>2 Available</p>
        </div>
        <button class="bg-blueBg text-white py-1 px-3 hover:bg-orange-500 duration-150">Add to Cart</button>
      </div>

      <div
        class="relative gap-4 py-4 px-4 w-full flex flex-col items-center bg-white rounded-md shadow-sm"
      >
        <img
          class="w-96 relative"
          src="../../assets/retail3.png"
          alt="photo-2"
        />
        <div class="flex flex-col gap-2">
          <div class="text-black">Gray leather Jacket with polished cotton</div>
          <h1 class="font-bold">GH₵ 2,093.00</h1>
          <div>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-gray-300"></i>
          </div>
          <p>2 Available</p>
        </div>
        <button class="bg-blueBg text-white py-1 px-3 hover:bg-orange-500 duration-150">Add to Cart</button>
      </div>

      <div
        class="relative gap-4 py-4 px-4 w-full flex flex-col items-center bg-white rounded-md shadow-sm"
      >
        <img
          class="w-96 relative"
          src="../../assets/retail4.png"
          alt="photo-2"
        />
        <div class="flex flex-col gap-2">
          <div class="text-black">Gray leather Jacket with polished cotton</div>
          <h1 class="font-bold">GH₵ 2,093.00</h1>
          <div>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-gray-300"></i>
          </div>
          <p>2 Available</p>
        </div>
        <button class="bg-blueBg hover:bg-orange-500 duration-150 text-white py-1 px-3">Add to Cart</button>
      </div>
    </div>

   <section>
    <div class="flex md:flex-row flex-col gap-5 justify-center items-center">
      <div
        class="relative gap-4 py-4 px-4 w-full flex flex-col items-center bg-white rounded-md shadow-sm"
      >
        <img
          class="w-96 relative"
          src="../../assets/retail5.png"
          alt="photo-2"
        />

        <div class="flex flex-col gap-2">
          <div class="text-black">Gray leather Jacket with polished cotton</div>
          <h1 class="font-bold">GH₵ 2,093.00</h1>
          <div>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-gray-300"></i>
          </div>
          <p>2 Available</p>
        </div>
        <button class="bg-blueBg text-white py-1 px-3 hover:bg-orange-500 duration-150">Add to Cart</button>
      </div>

      <div
        class="relative gap-4 py-4 px-4 w-full flex flex-col items-center bg-white rounded-md shadow-sm"
      >
        <img
          class="w-96 relative"
          src="../../assets/retail6.png"
          alt="photo-2"
        />
        <div class="flex flex-col gap-2">
          <div class="text-black">Gray leather Jacket with polished cotton</div>
          <h1 class="font-bold">GH₵ 2,093.00</h1>
          <div>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-gray-300"></i>
          </div>
          <p>2 Available</p>
        </div>
        <button class="bg-blueBg text-white py-1 px-3 hover:bg-orange-500 duration-150">Add to Cart</button>
      </div>

      <div
        class="relative gap-4 py-4 px-4 w-full flex flex-col items-center bg-white rounded-md shadow-sm"
      >
        <img
          class="w-96 relative"
          src="../../assets/retail7.png"
          alt="photo-2"
        />
        <div class="flex flex-col gap-2">
          <div class="text-black">Gray leather Jacket with polished cotton</div>
          <h1 class="font-bold">GH₵ 2,093.00</h1>
          <div>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-gray-300"></i>
          </div>
          <p>2 Available</p>
        </div>
        <button class="bg-blueBg text-white py-1 px-3 hover:bg-orange-500 duration-150">Add to Cart</button>
      </div>

      <div
        class="relative gap-4 py-4 px-4 w-full flex flex-col items-center bg-white rounded-md shadow-sm"
      >
        <img
          class="w-96 relative"
          src="../../assets/retail8.png"
          alt="photo-2"
        />
        <div class="flex flex-col gap-2">
          <div class="text-black">Gray leather Jacket with polished cotton</div>
          <h1 class="font-bold">GH₵ 2,093.00</h1>
          <div>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-gray-300"></i>
          </div>
          <p>2 Available</p>
        </div>
        <button class="bg-blueBg hover:bg-orange-500 duration-150 text-white py-1 px-3">Add to Cart</button>
      </div>
    </div>
  </section>


  <section>
    <div class="flex md:flex-row flex-col gap-5 justify-center items-center">
      <div
        class="relative gap-4 py-4 px-4 w-full flex flex-col items-center bg-white rounded-md shadow-sm"
      >
        <img
          class="w-96 relative"
          src="../../assets/retail9.png"
          alt="photo-2"
        />

        <div class="flex flex-col gap-2">
          <div class="text-black">Gray leather Jacket with polished cotton</div>
          <h1 class="font-bold">GH₵ 2,093.00</h1>
          <div>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-gray-300"></i>
          </div>
          <p>2 Available</p>
        </div>
        <button class="bg-blueBg text-white py-1 px-3 hover:bg-orange-500 duration-150">Add to Cart</button>
      </div>

      <div
        class="relative gap-4 py-4 px-4 w-full flex flex-col items-center bg-white rounded-md shadow-sm"
      >
        <img
          class="w-96 relative"
          src="../../assets/retail10.png"
          alt="photo-2"
        />
        <div class="flex flex-col gap-2">
          <div class="text-black">Gray leather Jacket with polished cotton</div>
          <h1 class="font-bold">GH₵ 2,093.00</h1>
          <div>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-gray-300"></i>
          </div>
          <p>2 Available</p>
        </div>
        <button class="bg-blueBg text-white py-1 px-3 hover:bg-orange-500 duration-150">Add to Cart</button>
      </div>

      <div
        class="relative gap-4 py-4 px-4 w-full flex flex-col items-center bg-white rounded-md shadow-sm"
      >
        <img
          class="w-96 relative"
          src="../../assets/retail11.png"
          alt="photo-2"
        />
        <div class="flex flex-col gap-2">
          <div class="text-black">Gray leather Jacket with polished cotton</div>
          <h1 class="font-bold">GH₵ 2,093.00</h1>
          <div>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-gray-300"></i>
          </div>
          <p>2 Available</p>
        </div>
        <button class="bg-blueBg text-white py-1 px-3 hover:bg-orange-500 duration-150">Add to Cart</button>
      </div>

      <div
        class="relative gap-4 py-4 px-4 w-full flex flex-col items-center bg-white rounded-md shadow-sm"
      >
        <img
          class="w-96 relative"
          src="../../assets/retail13.png"
          alt="photo-2"
        />
        <div class="flex flex-col gap-2">
          <div class="text-black">Gray leather Jacket with polished cotton</div>
          <h1 class="font-bold">GH₵ 2,093.00</h1>
          <div>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-gray-300"></i>
          </div>
          <p>2 Available</p>
        </div>
        <button class="bg-blueBg hover:bg-orange-500 duration-150 text-white py-1 px-3">Add to Cart</button>
      </div>
    </div>
  </section>


  <section>
    <div class="flex md:flex-row flex-col gap-5 justify-center items-center">
      <div
        class="relative gap-4 py-4 px-4 w-full flex flex-col items-center bg-white rounded-md shadow-sm"
      >
        <img
          class="w-96 relative"
          src="../../assets/retail14.png"
          alt="photo-2"
        />

        <div class="flex flex-col gap-2">
          <div class="text-black">Gray leather Jacket with polished cotton</div>
          <h1 class="font-bold">GH₵ 2,093.00</h1>
          <div>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-gray-300"></i>
          </div>
          <p>2 Available</p>
        </div>
        <button class="bg-blueBg text-white py-1 px-3 hover:bg-orange-500 duration-150">Add to Cart</button>
      </div>

      <div
        class="relative gap-4 py-4 px-4 w-full flex flex-col items-center bg-white rounded-md shadow-sm"
      >
        <img
          class="w-96 relative"
          src="../../assets/retail15.png"
          alt="photo-2"
        />
        <div class="flex flex-col gap-2">
          <div class="text-black">Gray leather Jacket with polished cotton</div>
          <h1 class="font-bold">GH₵ 2,093.00</h1>
          <div>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-gray-300"></i>
          </div>
          <p>2 Available</p>
        </div>
        <button class="bg-blueBg text-white py-1 px-3 hover:bg-orange-500 duration-150">Add to Cart</button>
      </div>

      <div
        class="relative gap-4 py-4 px-4 w-full flex flex-col items-center bg-white rounded-md shadow-sm"
      >
        <img
          class="w-96 relative"
          src="../../assets/retail16.png"
          alt="photo-2"
        />
        <div class="flex flex-col gap-2">
          <div class="text-black">Gray leather Jacket with polished cotton</div>
          <h1 class="font-bold">GH₵ 2,093.00</h1>
          <div>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-gray-300"></i>
          </div>
          <p>2 Available</p>
        </div>
        <button class="bg-blueBg text-white py-1 px-3 hover:bg-orange-500 duration-150">Add to Cart</button>
      </div>

      <div
        class="relative gap-4 py-4 px-4 w-full flex flex-col items-center bg-white rounded-md shadow-sm"
      >
        <img
          class="w-96 relative"
          src="../../assets/retail7.png"
          alt="photo-2"
        />
        <div class="flex flex-col gap-2">
          <div class="text-black">Gray leather Jacket with polished cotton</div>
          <h1 class="font-bold">GH₵ 2,093.00</h1>
          <div>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-blueColor hover:text-orange-500 duration-150"></i>
            <i class="fa-solid fa-star text-gray-300"></i>
          </div>
          <p>2 Available</p>
        </div>
        <button class="bg-blueBg hover:bg-orange-500 duration-150 text-white py-1 px-3">Add to Cart</button>
      </div>
    </div>
  </section>
  </main>
</section>
<app-footer></app-footer>
